<%- include('partials/header') %>

<div class="loggedIn">
    
    <h1>Now Logged In</h1>

    <h1> Welcome <%= userData.username %> </h1>
    <h1> Previous Motto is:</h1>
    
    <% userData.motto.forEach( motto => { %>
        <h4> <%= motto.category %> </h4>
        <h4> <%= motto.motto %> </h4>
    <% }) %>
    
    <a href="/submit" role="button">Submit</a>
   
</div>

<%- include('partials/footer') %>
